body {
	font: 0.8em Arial;
	background-color: #fff;
	height: 100%;
}

.chat{
	
}

.messages {
	border: 1px solid black;
	border-radius: 4px;
	/*width: 250px;
	height: 210px;*/
	width: 90%;
	height: 30%;
	padding: 10px;
	overflow-y: scroll;
	max-height: 150px;
	color: black;
	
	text-align: left;
	/*bottom: 65px;*/
	/*right: 4px;*/
}

.chat .message a {
	color: gray;
	width: 90%;
	/*border: 1px solid yellow;*/
	/*float: right;*/
}

.chat .message p {
	/*float: right;*/
	width: 90%;
}

.entry{
	/*position: absolute;*/
	/*float: right;*/
	/*width: 260px;*/
	height: 40px;
	padding: 5px;
	/*border: 1px solid violet;*/
	font: 1em Arial;
	/*right: 4px;*/
	/*bottom: 4px;*/
}

.select{
	/*border: 1px solid orange;*/
	/*position: absolute;
	float: right;*/
	/*right: 40px;*/
	/*bottom: 400px;*/
}
#select{
	/*border: 1px solid red;*/
}

#quick_search{
	/*width: 150px;*/
	text-align: left;
	/*width: 40%;*/

}


.autosuggest {
	list-style-type: none;
	margin: 1;
	padding: 0;
	border: 1;
	/*width: 200px;*/
	width: 70%;
	border-radius: 3px;
	/*position: relative;*/
	padding: 4px;
	border: 1px solid #000;
	padding-bottom: 0px;
}

.result{
	list-style-type: none;
	
	/*width: 20px;*/
	margin: auto;
	border-radius: 3px;
	position: relative;
	
/*width: 270px;*/
	list-style: none;
	overflow: scroll;
    overflow-x: hidden;
    /*min-width: 5em;*/
    /*width: 40%;*/
    max-height: 15em;
    padding: 0px;
    /*border: 1px solid blue;*/
	list-style-type: none;
	/*width: 200px;*/
	/*position: relative;*/
}

.result li {
	/*width: 180px;*/
	width: 100%;
	position: relative;
	float: left;
	/*padding-left: 0px;
	padding-left: 100px;*/
	border-top: 0;
	cursor: pointer;
	background-color: #ddd;
	border: 1px solid #555;
	border-radius: 4px;
	border-color: #ddd;
	text-decoration: none;
	display: block;
	
    text-align: center;
    line-height: 1.5em;
    border: 1px solid #ccc;
    /*border: 1px solid magenta;*/
    
    
}
#send_to , #start{
	margin: auto;

}
#message{
	margin-top: 100px;
	padding: 20px;
	float: left;
	/*border: 1px solid green;*/
}

.result li:hover {
	background: #555;
	color: #fff;
}

#bodyPanel{
	
	background-color: #fff;
	
	
}

#rightPanel{
	vertical-align: top;
	position: relative;
	display: inline-block;
}
#adminVMenu{
	position: relative;
	display: inline-block;
}

/*
#whole{
	background-color: #fff;
	width: 100%;
	min-width: 400px;
	border: 1px solid blue;
}*/

.dropdown{
	margin: 10px;
	float: left;
	width: 50%;
}
#autosuggest, #profile{
	float: left;
	width: 100%;
	margin: 10px;
}
#rightPanel{
	width: 20%;
}