body {
	font: 0.8em Arial;
	background-color: #fff;
	height: 100%;
}

.chat{
	
}

.messages {
	border: 1px solid black;
	border-radius: 4px;
	/*width: 250px;
	height: 210px;*/
	width: 90%;
	height: 30%;
	padding: 10px;
	overflow-y: scroll;
	max-height: 150px;
	color: black;
	
	text-align: left;
	/*bottom: 65px;*/
	/*right: 4px;*/
}

.chat .message a {
	color: gray;
	width: 90%;
	/*border: 1px solid yellow;*/
	/*float: right;*/
}

.chat .message p {
	/*float: right;*/
	width: 90%;
}

.entry{
	/*position: absolute;*/
	float: right;
	width: 260px;
	height: 40px;
	padding: 5px;
	/*border: 1px solid violet;*/
	font: 1em Arial;
	/*right: 4px;*/
	/*bottom: 4px;*/
}

#quick_search{
	/*width: 150px;*/
	text-align: left;
	width: 90%;

}


.autosuggest {
	list-style-type: none;
	margin: 1;
	padding: 0;
	border: 1;
	/*width: 200px;*/
	width: 50%;
	border-radius: 3px;
	/*position: relative;*/
	padding: 7px;
	border: 1px solid #000;
	padding-bottom: 0px;
}

.result{
	list-style-type: none;
	
	/*width: 200px;*/
	margin: auto;
	border-radius: 3px;
	position: relative;
	
/*width: 270px;*/
	list-style: none;
	overflow: scroll;
    overflow-x: hidden;
    /*min-width: 5em;*/
    width: 70%;
    max-height: 15em;
    padding: 0px;
    /*border: 1px solid blue;*/
	list-style-type: none;
	/*width: 200px;*/
	/*position: relative;*/
}

.result li {
	/*width: 180px;*/
	width: 100%;
	position: relative;
	/*padding-left: 0px;
	padding-left: 100px;*/
	border-top: 0;
	cursor: pointer;
	background-color: #ddd;
	border: 1px solid #555;
	border-radius: 4px;
	border-color: #999;
	text-decoration: none;
	display: block;
	
    text-align: center;
    line-height: 1.5em;
    /*border: 1px solid #ccc;*/
    /*border: 1px solid magenta;*/
    
    
}
#send_to , #start{
	margin: auto;
	padding: 30px;
}
#message{
	margin-top: 100px;
	padding: 20px;
	float: left;
	/*border: 1px solid green;*/
}

.result li:hover {
	background: #555;
	color: #fff;
}

#rightPanel{
	vertical-align: top;
	position: relative;
	width: 20%;
	display: inline-block;
}
#adminVMenu{
	position: relative;
	
	display: inline-block;
}
#adminMiddle{
	position: relative;
	padding: 30px;
	display: inline-block;
}
