body {
	font: 0.8em Arial;
	background-color: #fff;
	height: 100%;
}

.chat{
	
}

.messages {
	border: 1px solid black;
	border-radius: 4px;
	/*width: 250px;
	height: 210px;*/
	width: 90%;
	height: 30%;
	padding: 10px;
	overflow-y: scroll;
	
	color: black;
	
	text-align: left;
	/*bottom: 65px;*/
	/*right: 4px;*/
}

.chat .message a {
	color: gray;
	width: 90%;
	border: 1px solid yellow;
	/*float: right;*/
}

.chat .message p {
	/*float: right;*/
	width: 90%;
}

.entry{
	/*position: absolute;*/
	float: right;
	width: 260px;
	height: 40px;
	padding: 5px;
	border: 1px solid violet;
	font: 1em Arial;
	/*right: 4px;*/
	/*bottom: 4px;*/
}

#send_to , #start{
	margin: auto;

}
#right{
	text-align: right;
}
#message{
	margin-top: 100px;
	padding: 20px;
	float: left;
	border: 1px solid green;
}

#bodyPanel{
	
	background-color: #fff;
	
	
}

#rightPanel{
	vertical-align: top;
	position: relative;
	/*background-color: #444;*/
	border-radius: 7px;
	border: 3px solid #ab3;
	/*width: 360px;*/
	width: 30%;
	/*height: 645px;*/
	height: 100%;
	display: inline-block;
}
#adminVMenu{
	position: relative;
	width: 12%;
	
	display: inline-block;
}
#adminMiddle{
	position: relative;
	width: 56%;
	
	display: inline-block;
}

/*
#whole{
	background-color: #fff;
	width: 100%;
	min-width: 400px;
	border: 1px solid blue;
}*/